@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bio-background">
    <h1>Meet our team!</h1>
    <div class="bio-styling">
        <h2>Zachary Betsch</h2>
        <p>Senior Application Dev</p>
        <table>
            <tr>
                <td>Responsibilities</td>
                <td>Website Styling, Initial Database Instantiation, Trail details/recommended gear pages</td>
            </tr>
        </table>
        <h4>Why I like hiking:</h4>
        <p>I've always been a fan of hiking. It's a great exercise, gets you out of the house, and lets you interact with a bit of nature. It's also fun to explore new trails, and gives you an excuse to experience some of the places around your hometown that you otherwise might never go to.</p>
    </div>
    <div class="bio-styling">
        <h2>Sage Bushstone</h2>
        <p>Junior Data Tech and Application Dev</p>
        <table>
            <tr>
                <td>Responsibilities</td>
                <td>Initial migrations and connection string/DBContext setup; CRUD operations; Random Trail Picker</td>
            </tr>
        </table>
        <h4>Why I like hiking:</h4>
        <p>I love hiking, but especially the more chill trails. I really enjoy the Red River Gorge geographic region, plus the trails around Asheville, NC.</p>
    </div>
</div>
